  html{height:100%}h1,h2,h3,h4,h5,h6{font-family:Merriweather;font-weight:700}body{height:100%;min-height:35rem;position:relative;font-family:'Source Sans Pro';font-weight:300}.overlay{position:absolute;height:100%;min-height:35rem;width:100%;background-color:#cd9557;opacity:.75;z-index:-1}@media (min-width:768px){.overlay{min-height:0}}.masthead{position:relative;overflow:hidden;padding-bottom:3rem}.masthead .masthead-bg{position:absolute;top:0;bottom:0;right:0;left:0;width:100%;min-height:35rem;height:100%;background-color:/*#354e9d;*/rgba(0,46,102,.8);transform:skewY(4deg);transform-origin:bottom right}.masthead .masthead-content h1{font-size:2.5rem}.masthead .masthead-content p{font-size:1.2rem}.masthead .masthead-content p strong{font-weight:700}.masthead .masthead-content .input-group-newsletter input{font-size:1rem;padding:1rem}.masthead .masthead-content .input-group-newsletter button{font-size:.8rem;font-weight:700;text-transform:uppercase;letter-spacing:1px;padding:1rem}@media (min-width:768px){.masthead{height:100%;min-height:0;width:40.5rem;padding-bottom:0}.masthead .masthead-bg{min-height:0;transform:skewX(-8deg);transform-origin:top right}.masthead .masthead-content{padding-left:2rem;padding-right:10rem}.masthead .masthead-content h1{font-size:3.5rem}.masthead .masthead-content p{font-size:1.3rem}}.social-icons{position:absolute;margin-bottom:2rem;width:100%}.social-icons ul{margin-top:2rem;width:100%;text-align:center}.social-icons ul>li{margin-left:1rem;margin-right:1rem;display:inline-block}.social-icons ul>li>a{display:block;color:#fff;background-color:rgba(0,46,102,.8);border-radius:100%;font-size:2rem;line-height:4rem;height:4rem;width:4rem}@media (min-width:768px){.social-icons{margin:0;position:absolute;right:2.5rem;bottom:2rem;width:auto}.social-icons ul{margin-top:0;width:auto}.social-icons ul>li{display:block;margin-left:0;margin-right:0;margin-bottom:2rem}.social-icons ul>li:last-child{margin-bottom:0}.social-icons ul>li>a{transition:all .2s ease-in-out;font-size:2rem;line-height:4rem;height:4rem;width:4rem}.social-icons ul>li>a:hover{background-color:#002e66}}.btn-secondary{background-color:#cd9557;border-color:#cd9557}.btn-secondary:active,.btn-secondary:focus,.btn-secondary:hover{background-color:#ba7c37!important;border-color:#ba7c37!important}.input{font-weight:300!important}



/*Custom css for positioning the login in small and big screens*/
@media (min-width:768px){.login{margin:0;position:absolute;right:2.5rem;bottom:2rem;width:auto;top:8rem;}}
@media (max-width:767px){#card{margin:0;position: relative;margin-left:0.5rem;margin-right:0.5rem;bottom:2rem;width:auto;top:7rem;}.btn-submit{background-color: #2E86C1;color: #FFFFFF;}}


/*Moves the .masthead a lil down and changes background color of the navbar to dark on small screens*/
@media (max-width:767px){.clearHeader{background-color: #3E3F43;} .masthead{margin-top: 100px;}.social-icons{position:relative;}}

/*position footer always at bottom no matter the screen size.Makes it appear last after social media icons*/
@media (max-width:767px){.social-icons,#footer {position:relative!important;}}

body {
  overflow-x: hidden;
}

/*for the footer*/
#page-wrapper 
  {
    min-height: 100%!important;
    max-height: 100%!important;
  }

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:25px;   /* Height of the footer */
   background:darkred;
}
.widget
  {
    position:absolute;
   bottom:0;
   width:100%;
  }





/*for the login form*/
.form-control:focus {
    /*border-color: #1b5a7c;*/
    box-shadow: none!important;
    outline: 0 none;
}

.min-height {
    min-height: 380px;
}


.login-center {
    text-align: left;
}

.login {
    width: 320px;
    color: #fff;
}

.login .login-form {
    text-align: left;
}

/*.login label {
    color: #fff;
}
*/
.login-form .input-group .form-control {
    background: none;
    height: 44px;
    color: #fff;
}
::-webkit-input-placeholder {
    color:#B3B6B7!important;
}

::-moz-placeholder {
    color:#B3B6B7!important;
}

::-ms-placeholder {
    color:#B3B6B7!important;
}

::placeholder {
    color:#B3B6B7!important;
}